* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  z-index: -2;
}

#background-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

#card {
  width: 500px;
  padding: 20px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  background-color: white;
}

#card > label[for="audio-input"] {
  width: 100%;
}

#card-header {
  width: 100%;
  padding: 0px 0px 15px 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#card-header > .title {
  font-size: 15px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.8);
}

#card-body {
  width: 100%;
  height: 100%;
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#card-body > button[type="submit"] {
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

#card-body > button[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#file-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#file-area > label {
  width: 100%;
}

.input-box {
  width: 100%;
  height: 230px;
  border: 3px dotted rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box > h4 {
  font-size: 12px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.8);
}

.text-area {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.text-area > label {
  width: 60px;
}

.text-area > input[id="text-input"] {
  flex: 1;
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
